@charset"UTF-8";
.page {
    background-color: red;
    display:flex;
    flex-wrap: wrap;
}

nav{
 background-color:crimson;
  order:2;
    flex-basis:100%;
    min-height:25px;

}
ul{
 display:flex;
    flex-direction:row;
    justify-content: space-around;
    list-style-type: none;
}
header{
   background-color: green;
flex-basis:100%;
    order:1;
    min-height:50px;

}
section{
   background-color: aqua;
flex-basis:70%;
    order:3;
    min-height:250px;
    height:500px;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;


}
aside{
   background-color: yellow;
    flex-basis:15%;
    order:4;
    min-height: 250px;
}
footer
{
   background-color: gray;
    flex-basis:100%;
    order:4;
    min-height:50px;
}


#Beep{
 order:2;
    flex-basis:15%;
    min-height: 250px;
}

#cadrage{
    background-color: white;
    display: flex;
    flex-direction: column;


}

