#main{
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;

}
h1{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
    font-size: 15px;
    padding-bottom: 3px;
}

label{

    width:25%;
    margin-bottom:10px;

}

div{
 display: flex;
padding-bottom:5px;

}


span{
    color: red;
}